.mt-6.text-center
  - if controller_name != 'sessions'
    %p.text-sm.text-gray-600
      Уже есть аккаунт?
      = link_to "Войти", new_session_path(resource_name), class: "font-medium text-indigo-600 hover:text-indigo-500"
  - if devise_mapping.registerable? && controller_name != 'registrations'
    %p.text-sm.text-gray-600.mt-2
      Нет аккаунта?
      = link_to "Зарегистрироваться", new_registration_path(resource_name), class: "font-medium text-indigo-600 hover:text-indigo-500"
  - if devise_mapping.confirmable? && controller_name != 'confirmations'
    %p.text-sm.text-gray-600.mt-2
      Не получили письмо с подтверждением?
      = link_to "Отправить повторно", new_confirmation_path(resource_name), class: "font-medium text-indigo-600 hover:text-indigo-500"
