<div class="page-header">
  <div class="page-header__container">
    <div class="page-header__content">
      <h1 class="page-title"><%= t("admin.technologies.edit") %></h1>
    </div>
  </div>
</div>

<main class="page-main">
  <div class="card">
    <div class="card__body">
      <%= render "form" %>
    </div>
  </div>
</main>
