- if notice
  .flash-message.flash-notice
    .flex.items-center
      .flex-shrink-0
        %i.fas.fa-check-circle.mr-3
      .flex-1
        = notice

- if alert
  .flash-message.flash-alert
    .flex.items-center
      .flex-shrink-0
        %i.fas.fa-exclamation-circle.mr-3
      .flex-1
        = alert
